// Custom Stylus
// ===========

$body_background_color = rgb(241, 241, 241)
$body_text_dark = rgb(58, 72, 84)
$body_text_recessed = rgb(184, 184, 184)
$body_unselected_icon = rgb(216, 216, 216)

$nav_text_color = white
$nav_border_color = rgb(122, 147, 180)
$nav_background_color = rgb(124, 144, 173)
// $nav_background_color = rgb(157, 168, 191) rgb(97, 122, 155) NOT WORKING
$nav_hover_gradient = rgb(87, 133, 248) rgb(0, 87, 246)

$form_background_color = rgb(226,226,226)
$form_border_color = rgb(194,194,194)
$form_dark_background = rgb(186, 186, 186)
$form_dark_text = rgb(241, 241, 241)

body
  background-color : $body_background_color

#user
  // border: 1px solid $nav_border_color
  padding: 25px
  float: right

.post-details
  list-style: none
  display: table-row


.post-details li
  display: table-cell
  padding: 0 10px

.nav
  background-color: $nav_background_color

.nav a
  color: $nav_text_color

.navbar-header
  background-color: $nav_background_color

.navbar-header a
  color: $nav_text_color

.collapse
  background-color: $nav_background_color

.collapse a
  color: $nav_text_color

.navbar-collapse
  /*background-color: white*/
  border-bottom: 1px solid #cccccc

.navbar-nav
  border: 1px solid $nav_border_color

.navbar-nav > li > a
  line-height: 40px


.navbar-brand
  line-height: 40px


#logo
  padding-left: 10px

.toShareForm
  // width: 70% //This should change
  padding: 5px

.initialHide
  width: 400px

form
  background-color: $form_background_color
  border: 2px solid $form_border_color
  border-radius: 5px
  width: 400px
  padding: 5px

.tryIt
  background-color: $form_dark_background
  color: $body_text_dark

.signIn
  background-color: $nav_background_color
  border: 2px solid $nav_border_color
  border-radius: 5px

  a {
    color: $nav_text_color
  }

.frontPage {
  border: 2px solid $form_border_color
}

.explainIt {
  color: $nav_border_color
}


// Pulldown
$pulldown_arrow_size = 0.75rem
$pulldown_text_color = rgb(220, 220, 220)
$pulldown_border_color = rgb(160, 160, 160)
$pulldown_background_color = rgba(200, 200, 200, 0.92)
$pulldown_hover_gradient = rgb(87, 133, 248) rgb(0, 87, 246)


$px = 1px

.post {
  position: relative;

  padding: 10px;
  margin: 15px;

  background: $body_background_color;

  border: 2px solid $pulldown_border_color;
  border-radius: 5px;

  font-size: 16px;

  list-style: none;

  &:before,
  &:after {
    position: absolute;
    width: 0;
    height: 0;

    border: solid transparent;

    content: " ";

    pointer-events: none;

    left: 50%;
    bottom: 100%;
    margin-left: -1*$pulldown_arrow_size;
  }
  &:before {
    border-width: $pulldown_arrow_size;

    border-right-color: $pulldown_border_color;
    margin-top: -.5rem
  }
  &:after {
    border-width: $pulldown_arrow_size - 3px;
    margin-left: 0;
    // margin-left: -1*$pulldown_arrow_size + 3px;
    border-right-color: $pulldown_background_color ;
    // border-right-color: black ; //for testing visibility
  }

  &, // default
  &.arrowCenter {
    &:before,
    &:after {
      left: -.76rem;
      top: 1.5rem
    }
  }

  &.arrowCen ter {
    > strong:first-child {
      text-align: center;
      padding: 0.563rem 0 0 0;
    }
  }

  &.arrowLeft {
    &:before,
    &:after {
      left: 1.25rem;
    }
  }

  &.arrowRight {
    &:before,
    &:after {
      left: auto;
      right: 0.5rem;
    }
    &:after {
      margin-left: 0;
      margin-right: 3px;
    }
  }
}