<!-- HTML Template -->
<div style="height:80px"></div>
<div class="container">
  <div class="frontPage explainIt">
    <h2>
       Pre-schedule your reddit posts.
    </h2>
    <h2> Maximize your pageviews.</h2>
    <h2>Get that sweet, sweet karma.</h2>
  </div>

  <div class="tryIt">
    <span id='loginButton'>
      <a href="/api/login"><img src="img/login.png" ></a>
    </span>
  </div>

  <div class="frontPage whatsIt">
       <p><a href="http://www.reddit.com/r/scheddit/comments/1ojaz9/just_so_you_know_we_dont_store_your_password_or/">(we don't store your password)</a></p>
  </div>

  <div id="frontPage work">
    <h2>How it works</h2>
    <img src="img/how_it_works.png">
    <div class='howItWorksOutter'>
      <div class='howItWorksInner'>Thing 1</div>
      <div class='howItWorksInner'>Thing 2</div>
    </div>
    <div class='howItWorksOutter'>
      <div class='howItWorksInner'>Thing 3</div>
      <div class='howItWorksInner'>Thing 4</div>
    </div>
  </div>

  <div id="frontPage team" style="display: none">
    <h2>Meet the team</h2>
    <p>sfhdsjfhdsjkfdfhsdjfshdsjkdf</p>
  </div>

</div>