<!-- HTML Template -->
<div style="height:80px"></div>
<div class="container">
  <div class="frontPage explainIt">
    <p>Why would I want to know that? Can I use the gun? Anyhoo, your net-suits will allow you to experience Fry's worm infested bowels as if you were actually wriggling through them. Too much work. Let's burn it and say we dumped it in the sewer. But existing is basically all I do!</p>
  </div>

  <div class="tryIt">
    <p>Sign in and start using Scheddit now!</p>

    <a href="/login"><img src="img/login.png" ></a>
  </div>

  <div class="frontPage whatsIt">
    <p>Can I use the gun? Moving along&hellip; I don't 'need' to drink. I can quit anytime I want! Now that the, uh, garbage ball is in space. So, how 'bout them Knicks?</p>
    <p>Kif might! Say it in Russian! We'll need to have a look inside you with this camera. That's the ONLY thing about being a slave. Does anybody else feel jealous and worried?</p>
  </div>
  <div class="frontPage whyIt">
    <p>You lived before you met me?! Hey, guess what you're accessories to. Check it out, y'all. Everyone who was invited is here. Leela, are you alright? You got wanged on the head.</p>
    <p>I'm Santa Claus! No! Don't jump! I don't 'need' to drink. I can quit anytime I want! Really?! It's toe-tappingly tragic! Negative, bossy meat creature!</p>
  </div>

  <div id="frontPage work">
    <h2>How it works</h2>
    <img src="img/how_it_works.png">
  </div>

  <div id="frontPage team">
    <h2>Meet the team</h2>
    <p>sfhdsjfhdsjkfdfhsdjfshdsjkdf</p>
  </div>

</div>