<!-- HTML Template -->
<div style="height:80px"></div>
<div class="container">


<h3> What would you like to share today? </h3>

<form id="newPost" name="submission"class="initialCollapse">

  <select name="kind" id="postType" >
    <option value="link">Link</option>
    <option value="self">Self-Post</option>
  </select> </br>
  <input name="title" type="text" placeholder="title" class="initialHide"></input> <br>
  <input name="subreddit" type="text" placeholder="choose a subreddit" class="initialHide"></input> <br>
  <input name="urlOrDetails" id="urlOrDetails" type="url" class="initialHide"></input> <br>
  <input type="datetime-local" name="scheduler" class="initialHide"></input><br>
  <input type="submit" name="submitButton" class="submitButton initialHide"></input>
</form>

<h3> Scheduled</h3>

<div id="futurePosts"></div>

<h3> History </h3>

<div id="alreadyPosted"></div>







</div>