body{background-color:#f1f1f1}
.foot{margin-top:2px;text-align:center;color:#b8b8b8}
.container{margin-top:20px;margin-bottom:50px}
#user{border:1px solid #7a93b4;padding:26px;float:right;margin:0;}
#user a{color:#fff}
.post-details{list-style:none;display:table-row}
.post-details li{display:table-cell;padding:0 10px}
.navbar-toggle{border:1px solid #f1f1f1;margin:23px}
.icon-bar{background-color:#f1f1f1}
.nav{background-color:#7c90ad}
header{display:inline-block}
.nav a{color:#fff}
.navbar-header{background-color:#7c90ad}
.navbar-header a{color:#fff}
.collapse{background-color:#7c90ad}
.collapse a{color:#fff}
.navbar-collapse{background-color:#7c90ad;border-bottom:1px solid #ccc;padding:0}
.navbar-nav{border:1px solid #7a93b4;margin:0}
.navbar-nav > li > a{line-height:40px}
.navbar-brand{padding:0 15px;margin:auto}
.toShareForm{width:419px;background-color:#7c90ad;padding:5px;border:2px solid #3a4854;border-radius:5px;}
.toShareForm h3{color:#3a4854}
form{width:100%;padding:5px;}
form select,form input,form textarea{width:98%;margin:5px;background-color:#f1f1f1;text-align:center}
textarea{height:70px}
.tryIt{background-color:#bababa;color:#3a4854;padding:20px;border-radius:3px;width:909px;}
@media screen and (max-width: 991px){.tryIt{width:481px}
}.tryIt p{font-size:2rem;line-height:60px;font-weight:bold;display:inline-block;margin:0 4%}
.tryIt #loginButton{display:inline-block}
.frontPage{border:2px solid $form_border_color;margin:5px}
.explainIt{color:#7a93b4}
.howItWorksOutter{display:inline-block}
.howItWorksInner{display:inline-block}
.post{position:relative;padding:10px;margin:15px;color:#3a4854;background:#fff;border:2px solid #3a4854;border-radius:5px;font-size:16px;list-style:none;}
.post:before,.post:after{position:absolute;width:0;height:0;border:solid transparent;content:" ";pointer-events:none;left:50%;bottom:100%;margin-left:-.75rem}
.post:before{border-width:.75rem;border-right-color:#3a4854;margin-top:-.5rem;left:-.75rem;top:1.45rem}
.post:after{border-width:.6rem;margin-left:0;left:-1.1rem;top:1.1rem;border-right-color:#fff}
