#user {
  padding: 25px;
  float: right;
}

.post-details {
  list-style: none;
  display: table-row;
}

.post-details li {
  display: table-cell;
  padding: 0 10px;
}

.navbar-collapse {
  background-color: white;
  border-bottom: 1px solid #cccccc;
}

.navbar-nav > li > a {
  line-height: 40px;
}

.navbar-brand {
  line-height: 40px;
}

#logo {
  padding-left: 10px;
}
