<!-- HTML Template -->
<div class="container">
<div id="mainTitles" class="landingTitles"> 
  <h2 style="font-weight: bold"> Prescheduled reddit posting??</h2>
  <h3 style="font-weight: normal">That's right. Welcome to the Karma Factory.</h3>
</div>

<div id='main-container'>
  <div class="well" id="howItWorks">
    <h3 class="underlineThis landingTitles">how it works</h3>
    <ol>
      <li>Sign in with your reddit account.</li>
      <li>Prepare a link or post submission, the same way you would on reddit.</li>
      <li>Schedule the date and time you want it sent.</li>
      <li>?????</li>
      <li>Profit.</li>
    </ol>
  </div>

  <div class="well" id="whoItsFor">
    <h3 class="underlineThis landingTitles">who it's for</h3>
    <ol>
      <li>Moderators</li>
      <li>Really cool people.</li>
      <li>Everyone who had a brilliant idea for a post at 2AM, but wants more upvotes than the Australians can offer.</li>
    </ol> 
  </div>
</div>

<div id="clearfix"></div>

  

<div id='loginButton'>
  <a href="/api/login"><img id="login" src="img/login.png" ></a>
</div>

<div id="warning">
  <h4> Oh yea...</h4>
  <p>We should probably tell you:<p>
  <ol>
    <li><a href="http://www.reddit.com/r/scheddit/comments/1ojaz9/just_so_you_know_we_dont_store_your_password_or/"> We don't store your password... or even have access to it.  You can revoke our access anytime you'd like.</a></li>
    <li>Your profile alerts you if a post failed for some reason.</li>
    <li>We have not yet enabled CAPTCHA functionality.  We will let you know if your post cannot be posted because of a CAPTCHA.</li>
  </ol>
</div>

  <div id="frontPage team" style="display: none">
    <h2>Meet the team</h2>
    <p>sfhdsjfhdsjkfdfhsdjfshdsjkdf</p>
  </div>
</div>
