<!-- HTML Template -->
<div class="container">
  <h4 class="name"><em>Welcome {{name}}!</em></h4>
  <div class="modal-button-holder">
    <a href="#myModal" id="modal-clicker" role="button" class="btn btn-lg btn-primary" data-toggle="modal">Schedule a new Post</a>
  </div>
  <div id="schedule" class="listPosts"></div>
  <div id="history" class="listPosts"></div>
</div>
