<!-- HTML Template -->
<div class="container">
  <h4 class="name"><em>Welcome {{name}}!</em></h4>
  <a href="#myModal" id="modal-clicker" role="button" class="btn" data-toggle="modal">Schedule a new Post</a>
  
  <div id="schedule" class="listPosts"></div>
  <div id="history" class="listPosts"></div>
</div>
