<!-- HTML Template -->
<div class="modal-holder">
  <form id="newPost" name="submission"class="initialCollapse">
    <div class="modal-header">
      <a class="close">&times;</a>
      <h4>{{title}}</h4>
    </div>
    <div class="modal-body">
        <p>Sorry you do not have enough Reddit Karma to use Scheddit Beta.</p>
        <img src="img/sad-face.svg"/>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn cancel">{{cancelText}}</a>
      <a href="#" class="btn ok btn-primary">{{okText}}</a>
    </div>
  </form>
</div>